.inputWithButton {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  right: 0;
  top: 7px;
  z-index: 1;
  opacity: .4;
  transition: opacity .5s;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    opacity: 1;
  }
}