* {
  box-sizing: border-box;
}

html {
  font-family: 'Inter';
}

body,
html,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}
